In [41]:
import numpy as np
import pandas as pd

import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.model_selection import train_test_split
from sklearn.pipeline import Pipeline
from sklearn.compose import ColumnTransformer

from jcopml.pipeline import num_pipe, cat_pipe
from jcopml.utils import save_model, load_model
from jcopml.plot import plot_missing_value
from jcopml.feature_importance import mean_score_decrease

In [42]:
df = pd.read_csv("dataset.csv",delimiter=";")
df['tanggal'] = pd.to_datetime(df['tanggal'])
df.head()

,tanggal,wilayah,waktu,cuaca,kelembaban_persen,suhu_derajat_celcius
0,2017-01-03,Jakarta Barat,Malam,Hujan Ringan,65 - 95,22 - 31
1,2017-01-03,Jakarta Barat,Pagi,Hujan Ringan,65 - 95,22 - 31
2,2017-01-03,Jakarta Barat,Siang,Hujan Petir,65 - 95,22 - 31
3,2017-01-03,Jakarta Pusat,Malam,Hujan Ringan,65 - 95,22 - 31
4,2017-01-03,Jakarta Pusat,Pagi,Hujan Ringan,65 - 95,22 - 31

# Data Cleaning

In [43]:
print("Data terdiri dari", df.shape[0], "baris")
print("Data terdiri dari", df.shape[1], "\tkolom")

Data terdiri dari 14676 baris
Data terdiri dari 6 	kolom

In [44]:
print("Missing Value")
print(df.isnull().sum())

print("\nData Duplicate")
print(df.duplicated().sum())

Missing Value
tanggal                 0
wilayah                 0
waktu                   0
cuaca                   0
kelembaban_persen       0
suhu_derajat_celcius    0
dtype: int64

Data Duplicate
0

In [45]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14676 entries, 0 to 14675
Data columns (total 6 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   tanggal               14676 non-null  datetime64[ns]
 1   wilayah               14676 non-null  object
 2   waktu                 14676 non-null  object
 3   cuaca                 14676 non-null  object
 4   kelembaban_persen     14676 non-null  object
 5   suhu_derajat_celcius  14676 non-null  object
dtypes: datetime64[ns](1), object(5)
memory usage: 688.1+ KB

In [46]:
categoric = ['wilayah', 'waktu', 'cuaca']
df[categoric].describe()

              wilayah  waktu          cuaca
count           14676  14676          14676
unique              6      8             33
top     Jakarta Barat  Malam  Cerah Berawan
freq             2446   3354           5111

In [50]:
print("Date Minimum", df["tanggal"].min(), "\tDate Maximum", df["tanggal"].max())

Date Minimum 2017-01-03 00:00:00 	Date Maximum 2018-12-31 00:00:00

# Preprocessing